@charset "utf-8";

$purple: #cc7acc;
$primary: $purple;


.header-bg-img 
{ 
    background: url("../img/header.jpg");
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: $primary;
}

@import "../node_modules/bulma/bulma.sass";
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css);

@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
