---
layout: common.njk
title: About
---

<section class="section">
  <div class="container">

      <h2 class="title is-10">Hi, I'm Ben Clegg</h2>
      <div class="columns">
        <div class="column">
          <p>I'm currently researching Software Engineering Education for a PhD at The University of Sheffield.</p>
        </div>
        <div class="column is-2">
            <figure class="image is-128x128">
                <img src="/assets/img/portrait.jpg">
            </figure>
        </div>
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
      <h2 class="title is-3">Technical Experience</h2>
      <div class="tile is-ancestor">
        <div class="tile is-child box">Java</div>
        <div class="tile is-child box">R</div>
        <div class="tile is-child box">Python</div>
        <div class="tile is-child box">NodeJS</div>
        <div class="tile is-child box">SQL</div>
        <div class="tile is-child box">Haxe</div>
        <div class="tile is-child box">Flash / ActionScript (RIP)</div>
        <div class="tile is-child box">Linux</div>
        <div class="tile is-child box">Git</div>
      </div>
    </div>
</section>

<section class="section">
  <div class="container">
      <h2 class="title is-3 is-spaced">Awards</h2>
      <h3 class="subtitle is-4">SURE Student Researcher of the Year (2016)</h3>
      <p>Awarded following my summer research project, which resulted in a publication at a prestigious conference, and an offer for postgraduate study.</p>
      <p>The project was part of The University of Sheffield's SURE (Sheffield Undergraduate Research Experience) scheme, supervised by Prof. Gordon Fraser, who nominated me for the award.</p>
    </div>
</section>