<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ben Clegg - About</title>
    <link rel="stylesheet" href="assets/css/mystyles.css">
  </head>
  <body>
    Hello world
    Should be live
  </body>
</html>
