<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Clegg - {{title}}</title>
    <link rel="stylesheet" href="/assets/css/mystyles.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/anka-coder-condensed" type="text/css"/>
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <section class="hero is-small is-primary header-bg-img">
        <div class="hero-head">
            <a class="title is-1" href="/">
                <div class="header-logo-wrapper">bc_</div>
            </a>
        </div>
        <div class="hero-body">
        </div>
        <div class="hero-foot">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-start">
                <!--Nav Item-->
                <a class="navbar-item" href="/" title="About">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="mdi mdi-24px mdi-information"></i>
                        </span>
                        <span>About</span>
                    </span>
                </a>
                <!--Nav Item-->
                <a class="navbar-item" href="/projects" title="Projects">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="mdi mdi-24px mdi-lightbulb-on"></i>
                        </span>
                        <span>Projects</span>
                    </span>
                </a>
                <!--Nav Item-->
                <a class="navbar-item" href="/publications" title="Publications">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="mdi mdi-24px mdi-bookshelf"></i>
                        </span>
                        <span>Publications</span>
                    </span>
                </a>
            </div>
            <div class="navbar-end">
                <!--Nav Item-->
                <a class="navbar-item" target="_blank" href="https://www.linkedin.com/in/ben-clegg-599501142/" title="LinkedIn">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="mdi mdi-24px mdi-linkedin"></i>
                        </span>
                        <span>LinkedIn</span>
                    </span>
                </a>
                <!--Nav Item-->
                <a class="navbar-item" target="_blank" href="https://github.com/ben-clegg" title="GitHub">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="mdi mdi-24px mdi-github"></i>
                        </span>
                        <span>GitHub</span>
                    </span>
                </a>
            </div>
        </nav>
        </div>
    </section>

    <section class="section">
    <div class="container">
        <h1 class="title is-2">
        <span class="has-text-primary">&gt; </span>{{title}}
        </h1>
    </div>
    </section>
    {{ content | safe }}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy Ben Clegg 2021</p>
            <p><a href="https://bulma.io">
                <img
                src="https://bulma.io/images/made-with-bulma.png"
                alt="Made with Bulma"
                width="128"
                height="24">
            </a></p>
            <p>Built with <a href="https://www.11ty.dev/">11ty</a>.</p>
        </div>
    </footer>
  </body>
</html>